// home.less
// CSS for the homepage.
// -----------------------------------------------------------------


// Include LESS variables & mixins
@import "../global/lib/mixins.less";
@import "../global/lib/variables.less";

// BILLBOARD
// --------------------------------------------------

// Hero
// -------------------------
.home .hero {
	margin-bottom: 30px;
	height: 535px;
}

// Trust points
// -------------------------
.trust {
	font-family: @serifStack;
	text-transform: uppercase;
	height: 35px;
	margin-bottom: 27px;
	// Black title
	h3 {
		font-weight: normal;
		font-size: 16px;
		color: @white;
		background-image: url(../../img/home/trust-gradient.png);
		float: left;
		height: 35px;
		line-height: 35px;
		position: relative;
		padding: 0 18px 0 20px;	
		.border-radius-custom(3px, 0, 0, 3px);
		&:after {
			content: url(../../img/home/trust-carat.png);
			position: absolute;
			right: -11px;
		}
	}
	// List of benefits
	ul {
		color: #666;
		float: left;
		height: 34px;
		line-height: 35px;
		margin-left: 40px;
		margin-bottom: 0;
		padding-top: 1px;
		li {
			display:inline;
			margin-right: 35px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

// SHOP SECTION
// --------------------------------------------------

// Deal of the Day
// -------------------------
.dod {
	height: 200px;
	background: @white;
	.border-radius(3px);
	h3 {
		font-size: 18px;
		line-height: 18px;
		color: #4d4d4d;
		border-bottom: 1px solid @topbarColor;
		text-shadow: 0 1px 0 @white;
		#gradient > .vertical(@white, #f5f5f5);
		padding: 8px 20px 8px 45px;
		.border-radius-custom(3px, 3px, 0, 0);
		.clearfix();
		position: relative;
		&:before {
			content: url(../../img/home/dod-icon.png);
			position: absolute;
			left: 20px;
			top: 5px;
		}
		span {
			font-size: 13px;
			line-height: 18px;
			font-weight: normal;
			float: right;
			color: @grayLight;
		}
	}
	.dod-item {
		padding: 15px;
		border-bottom: 1px solid @topbarColor;
		h5 {
			text-transform: uppercase;
			padding-top: 5px;
			margin-bottom: 0;
			line-height: 13px;
		}
		span {
			text-transform: uppercase;
			font-size: 11px;
			color: @grayLight;
		}
		p {
			font-size: 12px;
			margin-top: 3px;
		}
		img {
			float: left;
			margin-right: 20px;
		}
	}
	.stats-container {
		background-color: #fafafa;
		height: 49px;
		border-bottom: 1px solid @white;
		.clearfix();
		.border-radius-custom(0,0,3px,3px);
		> ul {
			margin-left: 0;
			text-shadow: 0 1px 0 @white;
			> li {
				float: left;
				list-style: none;
				border-right: 1px solid @topbarColor;
				text-transform: uppercase;
				font-size: 11px;
				color: @grayLight;
				padding: 7px 10px;
				&:first-child {
					padding-left: 15px;
				}
				&:last-child {
					border-right: 0;
					text-align: right;
					float: right;
					padding-right: 15px;
					strong {
						color: @green;
					}
				}
				strong {
					display: block;
					font-size: 18px;
					color: @grayDark;
					margin-bottom: 2px;
				}
				.btn {
					float: right;
					//font-weight: 500;
					margin-left: 15px;
					text-align: left;
					text-transform: none;
					font-size: 13px;
					text-shadow: none;
					margin-top: 3px;
				}
				.primary {
					font-size: 16px;
					line-height: 16px;
				}
			}
		}
	}
}

// Secondary zones
// -------------------------
.zone.secondary {
	height: 200px;
}

// AUTHORIZED BRANDS SECTION
// --------------------------------------------------

.authorized-brands {
	margin-bottom: 30px;
}

// Search Brands
// -------------------------
#search-brands {
	padding: 11px 10px 9px;
	width: 278px;
	height: 30px;
	.border-radius(3px);
	border: 1px solid @borderColor;
	position: relative;
	margin-bottom: 10px;
	input {
		width: 268px;
		line-height: 0;
		&::-webkit-input-placeholder {
  			color: #b2b2b2;
  			font-style: italic;
  		}
	}
	button {
		position: absolute;
		right: 20px;
		top: 17px;
		background-image: url(../../img/small-search-btn.png);
		text-indent: -9999px;
		width: 17px;
		height: 17px;
		background-color: transparent;
	}
}

// Featured Brands
// -------------------------

.featured-brands {
	height: 50px;
	background: #f9f9f9;
	border: 1px solid @topbarColor;
	.border-radius(3px);
	width: 618px;
}

// Brand Scroller
// root element for the scrollable. when scrolling occurs this element stays still.
#brand-scroller {
	/* required settings */
	position: relative;
	overflow: hidden;
	width: 618px;
	height: 50px;
	display: block;
	// root element for scrollable items. Must be absolutely positioned and it should have an extremely large width to accommodate scrollable items. it's enough that you set width and height for the root element and not for this element.
	.items {
		// this cannot be too large
		width: 20000em;
		position: absolute;
		// a single item. must be floated in horizontal scrolling. typically, this element is the one that *you* will style the most.
		div {
			float: left;
			a {
				background-image: url(../../img/featured-brands-sprite.png);
				width: 103px;
				height: 50px;
				text-indent: -9999px;
				float: left;
				// Brand sprites
				&.apple{ background-position: 0 0;} 
				&.denon{ background-position: 0 -100px;} 
				&.klipsch{ background-position: 0 -200px;} 
				&.lg{ background-position: 0 -300px;} 
				&.maytag{ background-position: 0 -400px;} 
				&.mcintosh{ background-position: 0 -500px;} 
				&.nintendo{ background-position: 0 -600px;} 
				&.onkyo{ background-position: 0 -700px;} 
				&.panasonic{ background-position: 0 -800px;} 
				&.samsung{ background-position: 0 -900px;} 
				&.sony{ background-position: 0 -1000px;} 
				&.yamaha{ background-position: 0 -1100px;} 
			}
		}
	}
}

// SEO BLOCK
// --------------------------------------------------

.about-vdc {
	color: #b3b3b3;
	//background-color: #eaeaea;
	//.border-radius(3px);
	padding: 0 20px;
	//border-bottom: 1px solid @white;
	//.box-shadow(inset 0 1px 4px rgba(0,0,0,0.1);
	margin-bottom: 40px;
	font-size: 12px;
	i {
		background-image: url(../../img/seo-info-icon.png);
		width: 26px;
		height: 27px;
		float: left;
		margin-right: 20px;
		margin-top: 4px;
	}
}