// fonts.less
// CSS for @font-face embedded fonts.
// -----------------------------------------------------------------


// CLARENDON (serif display)
// --------------------------------------------------

@font-face {
    font-family: 'Clarendon';
    src: url('../../fonts/clarendon/clarendonltstd-webfont.eot');
    src: url('../../fonts/clarendon/clarendonltstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/clarendon/clarendonltstd-webfont.woff') format('woff'),
         url('../../fonts/clarendon/clarendonltstd-webfont.ttf') format('truetype'),
         url('../../fonts/clarendon/clarendonltstd-webfont.svg#ClarendonLTStdRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}