// navigation.less
// The primary site navigation.
// -----------------------------------------------------------------

// MENU BAR
// --------------------------------------------------

#primary {
	position: relative;
	top: -20px;
	.menubar {
		position: relative;
		border: 1px solid #a6a6a6;
		.border-radius(3px);
		#gradient > .vertical(#fefefe, #d2d2d2);
		list-style: none;
		height: 38px;
		z-index: 2;
		.box-shadow(0 1px 2px rgba(0,0,0,0.1);
		margin-bottom: 0;
		text-align: center;
		&.open {
			border-bottom: 0;
			margin-bottom: 1px;
			.box-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
		}
		li {
			float: left;
			height: 37px;
			border-left: 1px solid #a6a6a6;
			border-bottom: 1px solid #d7d7d7;
			&:first-child {
				border-left: 0;
				padding-left: 3px;
				.border-radius(3px 0 0 3px);
				a {
					.border-radius(3px 0 0 3px);
				}
			}
			&:hover {
				#gradient > .vertical(#fafafa, #cfcfcf);
			}
			&:last-child {
				padding-right: 3px;
				.border-radius(0 3px 3px 0);
				a {
					.border-radius(0 3px 3px 0);
				}
			}
			a {
				color: #595959;
				font-weight: 500;
				text-shadow: 0 1px 0 #fff;
				display: block;
				text-align: center;
				height: 18px;
				padding: 10px 12px;
				&:hover {
					text-decoration: none;
					color: #262626;
				}
				i {
					margin-right: 11px;
					width: 25px;
					height: 25px;
					margin-top: -5px;
					background-image: url(../../img/nav/nav-sprites.png);
				}
			}
			// Active Button State
			&.active {
				position: relative;
				top: -1px;
				padding-top: 1px;
				border: solid 1px #414141;
				border-bottom: 0;
		        -webkit-box-shadow: inset 0 -10px 1px -8px #808080,inset 0px 1px 5px rgba(0,0,0,0.44);
		        -moz-box-shadow: inset 0 -10px 1px -8px #808080,inset 0px 1px 5px rgba(0,0,0,0.44);
		        -o-box-shadow: inset 0 -10px 1px -8px #808080,inset 0px 1px 5px rgba(0,0,0,0.44);
		        box-shadow: inset 0 -10px 1px -8px #808080,inset 0px 1px 5px rgba(0,0,0,0.44);
		        #gradient > .vertical(#4d4d4d, #808080);
				&:first-child {
					border-left:0;
					.border-radius(3px 0 0 3px);
					position: relative;
					left: -1px;
					//padding-left: 4px;
					a {
						position: relative;
						left: 1px;
					}
				}
				&:last-child {
					.border-radius(0 3px 3px 0);
					position: relative;
					right: -1px;
					//padding-left: 4px;
					a {
						position: relative;
						right: 1px;
					}
				}
				&+li {
					border-left: 0;
				}        	
				a {
					color: #f2f2f2;	
			        text-shadow: 0px 1px 1px #000000;
			        padding-top: 9px;
				}
			}
		}
	}	
}

// SUB NAVIGATION
// --------------------------------------------------

#submenu {
	// initially hidden
	visibility: hidden;
	display:block;
	// linen bg
	background-image:url(../../img/nav/submenu-bg.jpg);
	background-repeat: repeat;
	top: -20px;
	position: relative;
	z-index: 1;
	text-shadow: 0 2px 1px rgba(0,0,0,0.5);
	.box-shadow(inset 0 0 15px @black);
	border-bottom: 2px solid @white;
	margin-bottom: -50px;
	color: @white;
	.clearfix();
	padding: 40px 0 20px 0;
	&.open {
		-webkit-transition-duration: 150ms;
	}
	a {
		color: @white;
	}
	.container {
		position: relative;
		display: block;
		.clearfix();
	}
	// Facilitate divider (background) between links section and marketing section
	.row {
		background: url(../../img/nav/submenu-div.png) repeat-y top right;
		width: 760px;
	}
	// Category Title
	h2 {
		margin-bottom: 20px;
		font-weight: 900;
		color: @menuInset;
		font-size: 32px;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.6), 0px 1px 0px rgba(255,255,255,0.12);
		text-transform: uppercase;
	}
	// Secondary links
	.secondary-links {
		float: right;
		margin-right: 20px;
		margin-top: 3px;
		ul {
			float: right;
			.border-radius(3px);
			background: @menuInset;
			list-style: none;
			height: 25px;
			padding: 8px 15px 0;
			margin: 0;
			border-bottom: 1px solid rgba(255,255,255,0.18);
			.box-shadow(inset 0 1px 1px rgba(0,0,0,0.4);
			li {
				float: left;
				margin-right: 25px;
				line-height: 14px;
				&:last-child {
					margin-right: 0;
				}
				a {
					font-weight: bold;
					color: #d9d9d9;
				}
			}
		}
	}
	// Subcategory Title
	h3 {
		line-height: 18px;
		text-transform: uppercase;
		margin-bottom: 5px;
		a {
			font-size: 14px;
		}
	}
	// Tertiary Link Columns
	.span2 {
		// custom grid widths
		width: 160px !important;
		ul {
			margin: 0 0 10px;
			line-height: 20px;
			list-style: none;
		}
	}
	// Tertiary links color
	.tertiary a {
		color: #d9d9d9;
	}
	// Marketing column
	.marketing {
		// Custom grid width
		width: 180px !important;
		margin-left: 20px;
		// initially hidden
		display: none;
		// Ad area
		.ad-zone {
			background-color: rgba(0,0,0,0.08);
			color: #a6a6a6;
			text-shadow: none;
			padding: 20px;	
			.border-radius(4px);
			text-align: center;
			margin-top: 5px;
		}
	}
}
// Close button at bottom of submenu
.close-menu {
	background-color: #b2b2b2;
	color: @white;
	border: 1px solid #a5a5a5;
	//border-top: 0;
	padding: 0 6px;
	font-size: 11px;
	line-height: 17px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	height: 18px;
	position: absolute;
	bottom: -40px;
	right: 0;
	.border-radius(0 0 3px 3px);
	-webkit-transition-duration: 0;
	span {
		font-size: 9px;
	}
}