// navigation.less
// The primary site navigation.
// -----------------------------------------------------------------

// MENU BAR
// --------------------------------------------------

#primary {
	position: relative;
	top: -20px;
	.menubar {
		position: relative;
		border: 1px solid #a6a6a6;
		.border-radius(3px);
		#gradient > .vertical(#fefefe, #d2d2d2);
		list-style: none;
		height: 38px;
		z-index: 2;
		.box-shadow(0 1px 2px rgba(0,0,0,0.1);
		margin-bottom: 0;
		text-align: center;
		li {
			float: left;
			height: 37px;
			border-left: 1px solid #a6a6a6;
			border-bottom: 1px solid #d7d7d7;
			&:first-child {
				border-left: 0;
				margin-left: 3px;
			}
			&:hover {
				#gradient > .vertical(#fafafa, #cfcfcf);
			}
			a {
				color: #595959;
				font-weight: 500;
				text-shadow: 0 1px 0 #fff;
				display: block;
				text-align: center;
				height: 18px;
				padding: 10px 12px;
				&:hover {
					text-decoration: none;
					color: #262626;
				}
				i {
					margin-right: 11px;
					width: 25px;
					height: 25px;
					margin-top: -5px;
					background-image: url(../../img/nav/nav-sprites.png);
				}
			}
		}
		// Nav sprites
		.tv a {
			i {background-position: 0 -825px;}
			&:hover i {background-position: 0 -750px;}
		}
		.audio a {
			i {background-position: 0 -525px;}
			&:hover i {background-position: 0 -450px;}
		}
		.portable a {
			i {	background-position: 0 -675px;}
			&:hover i {background-position: 0 -600px;}
		}
		.computers a {
			i {	background-position: 0 -375px;}
			&:hover i {background-position: 0 -300px;}
		}
		.cameras a {
			i {background-position: 0 -225px;}
			&:hover i {background-position: 0 -150px;}
		}
		.appliances a {
			i {background-position: 0 -75px;}
			&:hover i {background-position: 0 0;}
		}
	}
	// SUB NAVIGATION
	// --------------------------------------------------
	
	#subnav {
		display:none;
		background-image:url(../../img/nav/subnav-bg.jpg);
		background-repeat: repeat;
		top: -20px;
		position: relative;
		z-index: 1;
		-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, .5);
		-moz-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, .5);
		box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, .5);
		.container {
			padding: 40px 0 20px 0;
			h2 {
				margin-bottom: 20px;
				font-weight: 900;
				color: #353535;
				font-size: 32px;
				text-shadow: 0px 1px 0px #5d5d5d;
				filter: dropshadow(color=#5d5d5d, offx=0, offy=1);

			}
		}
		a {
			color: #fff;
			text-shadow: 0px 1px 1px #000;
			filter: dropshadow(color=#000, offx=0, offy=1);
			font-size: 13px;
			&.nav-title {
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
		.nav-content {
			width: 720px;
			float: left;
			border-right: 1px solid rgba(0,0,0,0.4);
			-webkit-box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.1);
			-moz-box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.1);
			box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.1);
		}
		.nav-marketing {
			width: 200px;
			float: right;
			display:none;
			.nav-messaging {
				background-color:#FFF;
				display: inline-block;
				width: 180px;
				height: 220px;
				position: absolute;
				top: 50%;
				margin-top: -100px;
			}
		}
		.nav-column {
			width: 160px;
			float: left;
			padding-right: 25px;
			&:last-child {
				padding-right: 0;
			}
			ul {
				margin: 0;
			}
			li {
				list-style: none;
			}
		}
		#tv, #audio {
			display: none;
		}
	}	
}

